@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Humans: <a href="Humen">click</a></p>
    <p>Klempners: <a href="Klempners">click</a></p>
    <p>Students: <a href="Students">click</a></p>
</div>
